// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
// Active Admin's got SASS!
// @import "active_admin/mixins";
// @import "active_admin/base";
@import "active_admin/admin_bootstrap";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
$bg_top_header: #777;
$bg_sidebar: lighten(#777777, 40%);
$gf_green: #7fc0a5;
$heading_box: $gray-lighter;
#main_content {
  .formtastic {
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgrey;
    border-radius: 10px;
  }
  thead {
    background-color: $bg_sidebar;
  }
}
#top-head {
  position: fixed;
  z-index: 999;
  height: 50px;
  width: 110%;
  background-color: $bg_top_header;
  img {
    padding-left: 20px;
  }
}
.small-col {
  width:100px;
}
#container {
  width: 100%;
  height: 400px;
}
.user-login-wrapper {
  width: 400px;
  margin: auto;
  #new_user {
    padding: 20px;
    border: 1px solid lightgrey;
    border-radius: 10px;
  }
  .logo-wrapper {
    width: 100%;
    text-align: center;
    img {
      width: 200px;
    }
  }
}
#wrapper {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
}
#header {
  position: fixed;
  margin-top: 50px;
  width: 220px;
  height: 100%;
  background-color: $bg_sidebar;
  font-size: 1.2em;
  #tabs {
    margin-top: 20px;
  }
  .header-item.tabs {
    padding-left: 20px;
    border: none;
    li {
      float: left;
      clear: both;
      width: 200px;
      border: none;
      a {
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }
  }
  hr {
    float: left;
    width: 150px;
    margin-left: 20px;
  }
}
.title_bar {
  padding: 0;
}
#title_bar {
  margin: 0;
  #titlebar_left {
    margin-top: 50px;
    padding-left: 220px;
    width: 100%;
    height: 70px;
    background-color: $heading_box;
    .breadcrumb {
      float: right;
      margin: 20px 60px 20px 20px;
    }
    #page_title {
      float: left;
      margin: 20px 0 0;
      padding: 0 0 0 50px;
      color: $gf_green;
    }
  }
  #titlebar_right {
    margin: 20px 50px 20px 20px;
  }
}
.col-actions {
  width: 20px;
}
#active_admin_content,
#footer {
  margin-left: 220px;
}
#active_admin_content {
  padding-right: 50px;
  padding-left: 40px;
}
.download_links {
  display: none;
}
#current_user {
  border-top: 1px solid darken(lightgrey, 40%);
}
#logout {
  font-size: bold;
  text-transform: uppercase;
}
#footer {
  display: none;
  position: fixed;
  bottom: 0;
}
.sidebar_section {
  padding: 10px;
  width: 200px;
}
