
#main-wrapper {
	margin: 0 auto;
	text-align: center;
}
#user-logged {
	text-align: right;
	margin-right: 10px;
	#user-name {
		margin: 0 20px;
	}
	a {
		color: #fff;
	}
}
.navbar {
	border: none;
}
.navbar-nav > li > a {
	border: none;
}
.navbar-nav {
	display: inline-block;
	float: none;
	margin: 0 auto;
}
